body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
}

#list,
#collection {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#list {
  width: fit-content;
  flex: 0 0 auto;
}

#collection {
  flex-grow: 1;
  overflow-y: auto;
}

.list-search {
  padding: 10px;
}

.list-content {
  padding: 10px;
  overflow-y: auto;
}

.collection-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.card {
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.card button {
  display: inline-block;
}

.card img {
  display: block;
  max-width: 280px;
}
